.mx-site * {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
.mx-site body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
html {
    color: -internal-root-color;
}
.mx-site ::selection {
    background: rgba(11,173,197,.2);
}
.mx-site .y, .mx-site button, .mx-site textarea {
    font: normal 16px/1em Proxima,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.mx-site .y {
    min-width: 320px;
}
.home,.photo,.cards{
    animation-name: Rf;
    transform-origin: bottom;
    animation: .1s ease-out forwards;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    will-change: transform;
    position: absolute;
    z-index: 1;
}
.sizes{
    background-color: #fff;
    top: 100%;
    left: 0;
    max-width: 800px;
    border: 1px solid #efefef;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: auto;
    min-width: 100%;
    transform: translateY(-1px);
    box-shadow: 0 8px 48px 0 rgba(0,0,0,.16);
    z-index: 1;
    position: absolute;
}
.Gi .UB{
    white-space: nowrap;
}
.cc{
    padding-bottom: 16px;
}
.Fb{
    padding-right: 24px;
}
.Bc{
    padding-left: 24px;
}
.rk:not(:last-child){
    border-right: 1px solid #eaeaea;
}
.rk{
    min-width: 154px;
}
.Vh{
    line-height: 36px;
    font-size: 15px;
    font-weight: 300;
}
.Wh{
    font-weight: 700;
}
.Se{
    color:#0e2f47
}
.Se:hover{
    color: #3cadac;
}
.Pe,.ag{
    cursor: pointer;
    text-decoration: none;
}
.gb{
    display: flex;
    padding-top: 16px;
}
.qk{
    display: flex;
}
.fk{
    min-width: 144px;
}
.Cc{
    padding-left: 32px;
}
.Gb{
    padding-right: 32px;
}
.padding{
    white-space: nowrap;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.padding div a{
    font-weight: 300;
    line-height: 36px;
    font-size: 15px;
    color: #465659;
}
.padding div a:hover{
    color: #3cadac;
    cursor: pointer;
}
.mx-site .gh,.mx-site .da{
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: stretch;
    justify-content: stretch;
    min-height: 100vh;
}   
.mx-site .mh, .mx-site .lh {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
}

.mx-site .lh {
    align-items: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 2;
}
.mx-site .ll {
    display: -webkit-box;
    display: flex;
    line-height: 32px;
}
.mx-site .S,.mx-site .og {
    max-width: 1200px;
}
.mx-site .R,.mx-site .ng {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mx-site .el {
    background: #f5f5f5;
    color: #0e2f47;
    font-size: 13.92px;
    text-align: center;
}
.mx-site .fl {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: left;
}
.mx-site .hl {
    font-weight: 700;
    margin-right: 8px;
}
.mx-site .il {
    margin-right: .8em;
}
strong {
    font-weight: bold;
}
.mx-site .jl{
    border: 1px solid;
    border-radius: 4px;
    color: #000000;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 54px;
}
.mx-site .jl:hover{
    color: #465659;
}
.il a{
    color: #465659;
}
.il a:hover{
    color: #3cadac;
    text-decoration: none;
}
.mx-site .fg {
    color: #3cadac;
}
.mx-site .fg:hover {
    color: #465659;
}
.mx-site .eg {
    cursor: pointer;
    text-decoration: none;
}
.mx-site .ng {
    font-weight: 700;
}
.mx-site .hg, .mx-site .fg.ig {
    color: #0e2f47;
}
.mx-site .hg:hover, .mx-site .fg.ig:hover {
    color: #3cadac;
}
.mx-site .Xl {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 48px;
    margin-top: -8px;
}
.mx-site .mh {
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}
.mx-site .qh {
    display: inline-block;
    margin-top: 6px;
}
.mx-site .rh {
    fill: #004475;
    height: 58px;
    pointer-events: none;
    width: 143px;
}
.mx-site .oh {
    display: none;
    height: 100%;
    width: 52px;
}
.mx-site .sh {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    place-items: flex-end;
}
.mx-site .Mk {
    display: inline-block;
    padding: 16px 17.6px;
    position: relative;
    z-index: 2;
}
.mx-site .Mk:not(:first-child) {
    margin-left: -10px;
}
.mx-site .Mk:last-child {
    padding-right: 0;
}
.mx-site .Lk {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 48px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    line-height: 17.6px;
}
.mx-site .Zl .am:after {
    content: "▾";
    margin-left: 5px;
}
.mx-site .ji:before {
    background: #fff;
    z-index: 99;
    position: absolute;
}
.mx-site .Yl {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.mx-site .hn {
    position: relative;
}
.mx-site .Hi {
    display: -webkit-box;
    display: flex;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    z-index: 1;
}

.bk{
    color:#777;
    cursor: default;
    display: block;
    width: 224px;
}
.bk:hover{
    background: #eaeaea;
    color:#000;
}
.ak{
    display: inline-block;
    line-height: 36px;
    vertical-align: top;
    font-size: 15px;
}
.ck{
    display: flex;
    font-weight: 700;
}
.mx-site .ck:after{
    content: "\25BA";
    font-size: 12px;
    margin-left: auto;
}
.mx-site .Hi:hover{
    border-top: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mx-site .jn {
    position: relative;
    z-index: 100;
}
.mx-site .am {
    display: block;
    font-weight: 700;
    padding: 16px 17.6px;
    text-transform: uppercase;
    white-space: nowrap;
}
.mx-site .lg {
    font-size: 14px;
}
.mx-site .Yl:not(:first-child) {
    margin-left: -10px;
}
.mx-site .Sb,.jc {
    padding-left: 8px;
}
.mx-site .ub {
    padding-bottom: 8px;
}
.mx-site .hg.gg:hover {
    color: #3cadac;
}
.mx-site .ya {
    padding-top: 8px;
}
.mx-site .bm {
    height: 20px;
    width: 20px;
}
.mx-site .ef {
    fill: currentColor;
    pointer-events: none;
    vertical-align: middle;
}
.ke {
    background-image: url(https://media.mixbook.com/dead_simple_cms/main_page_scheduler/carousel/first_slide/url4-1576868813.jpg?1576868814);
}
.mx-site .i {
    height: 568px;
    position: relative;
    width: 100%;
}
.mx-site .ke {
    background-color: #d5dbde;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mx-site .ka {
    display: none;
}
.mx-site .j {
    bottom: 0;
    position: absolute;
    text-align: center;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    width: 100%;
    z-index: 1;
}
.mx-site .Hb {
    margin-left: 8px;
}
.mx-site .La {
    margin-right: 8px;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.mx-site .id {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .021em;
    line-height: 1.3em;
    outline: none;
}
.mx-site .yd {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #d5dbde;
    border-radius: 20px;
    color: #0e2f47;
    padding: 1px;
}
.mx-site .yd[aria-pressed=true] {
    border: 2px solid #3cadac;
}
.mx-site .yd .jd {
    font-weight: 400;
    padding: 4px 8px;
}
.mx-site .ld, .mx-site .md {
    font-size: 16px;
    font-weight: 600;
}
.mx-site .Ed {
    text-transform: capitalize;
}
.mx-site .od,.mx-site .qa {
    -webkit-box-pack: center;
    justify-content: center;
}
.mx-site .jd {
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
}
.mx-site .Db {
    padding-bottom: 80px;
}
.mx-site .Ub {
    padding-bottom: 80px;
}
.mx-site .Ya {
    padding-top: 80px;
}
.mx-site .Q ,.ad{
    font-size: 48px;
    letter-spacing: .08px;
}
.mx-site .P,.Zc{
    color: #0e2f47;
    line-height: 1.2em;
    text-transform: none;
}
.mx-site .P, .mx-site h3,.Zc ,.mx-site h3{
    font-weight: 300;
}
.mx-site .V ,.mx-site .E{
    text-align: center;
}
.mx-site .H {
    background: url(https://cdn.mixbook.com/apps/site/public/mainPageHeaderBackground-02802270e8a87eb09e29.webp);
    -webkit-background-clip: text;
    background-position: 50%;
    -webkit-text-fill-color: transparent;
}
.mx-site .Ea{
    margin-top: 8px;
}
.mx-site .sd,.ne{
    font-size: 20px;
    letter-spacing: .208px;
    line-height: 1.6em;
}
 .mx-site .rd,.me {
    /* display: block; */
    font-weight: 400;
} 
.mx-site .Ej {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.mx-site .la {
    -webkit-box-pack: center;
    justify-content: center;
}
.mx-site .ka {
    -webkit-box-align: center;
    align-items: center;
}
.mx-site .ea {
    display: -webkit-box;
    display: flex;
}
.mx-site .fa {
    flex-wrap: wrap;
}
.mx-site .ga {
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.mx-site .Ga {
    margin-top: 24px;
}
.mx-site .F {
    width: 33.33%;
}
.mx-site .Fj {
    display: inline-block;
    max-width: 400px;
    text-align: center;
}
.mx-site .kc {
    padding-left: 16px;
}
.mx-site .Mb {
    padding-bottom: 16px;
}
.mx-site .ob {
    padding-right: 16px;
}
.mx-site .Qa {
    padding-top: 16px;
}
.mx-site .Gj {
    border: 1px solid #d5dbde;
    display: block;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s,-webkit-transform .25s;
    will-change: transform;
}
.mx-site .Ee {
    color: #3cadac;
}
.mx-site .Ee:hover {
    color: #276160;
}
.mx-site .De {
    cursor: pointer;
    text-decoration: none;
}
.mx-site .W {
    text-transform: uppercase;
}
.mx-site .S {
    font-size: 24px;
}
.mx-site .S, .mx-site .T {
    font-weight: 700;
    letter-spacing: .24px;
}
.mx-site .T {
    font-size: 16px;
}
.mx-site .Hj {
    color: #0e2f47;
    display: block;
    font-weight: 400;
}
.mx-site .Go {
    white-space: nowrap;
}
.mx-site .Ij {
    display: block;
    height: 272px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.mx-site .Gj:hover{
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
}
.mx-site .Ha,.ya{
    margin-top: 32px;
}
.mx-site .ee {
    text-transform: uppercase;
}
.mx-site .Td {
    width: fit-content;
    background-color: #3cadac;
    color: #fff;
}
.mx-site .Td:hover{
    background-color: #6AB9B9;
}
.mx-site .Md, .mx-site .Nd {
    font-size: 16px;
    font-weight: 600;
}
.mx-site .Jd {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .021em;
    line-height: 1.3em;
    outline: none;
}
.mx-site .lc {
    padding-left: 24px;
}
.mx-site .pb {
    padding-right: 24px;
}
.mx-site .Pd {
    -webkit-box-pack: center;
    justify-content: center;
}
.mx-site .Kd {
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
}
.mx-site .je {
    fill: currentColor;
    pointer-events: none;
    vertical-align: middle;
}
.mx-site .Yb {
    margin-left: 8px;
}
.mx-site .G {
    fill: #fff;
    height: 7px;
    pointer-events: none;
    width: 12px;
}
.mx-site .ag {
    background-color: #f5fafa;
    background-image: url(https://cdn.mixbook.com/apps/site/public/customizationSectionBg-b58324b86b4fbe7102c4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.mx-site .uc {
    width: 100%;
}
.mx-site .Ta{
    padding-top: 40px;
}
.mx-site .Pb{
    padding-bottom: 40px;
}
.mx-site .ha {
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.mx-site .ha, .mx-site .ga {
    -webkit-box-direction: normal;
}
.mx-site .Eb{
    margin-bottom: 40px;
}
.mx-site .cg {
    border-radius: 50%;
    height: 314px;
    width: 314px;
}
.mx-site .Aa{
    -webkit-box-flex: 1;
    flex: 1;
}
.mx-site .bg {
    max-width: 33.3333%;
}
.mx-site .Ia{
    margin-top: 40px;
}
.mx-site .Fa,.VB{
    margin-top: 16px;
}
.mx-site .wd{
    text-align: center;
}
.mx-site .td {
    font-size: 16px;
    letter-spacing: .256px;
    line-height: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
}
.mx-site .Ce {
    max-width: 515px;
}
#crl8-homepage-carousel .kziFFr *, #crl8-homepage-carousel-modal .kziFFr *, #crl8-homepage-carousel-uploader .kziFFr * {
    box-sizing: border-box;
}
#crl8-homepage-carousel .fSnOLk, #crl8-homepage-carousel-modal .fSnOLk, #crl8-homepage-carousel-uploader .fSnOLk {
    position: relative;
    padding: 10px 0px;
}
#crl8-homepage-carousel .bFAmSx, #crl8-homepage-carousel-modal .bFAmSx, #crl8-homepage-carousel-uploader .bFAmSx {
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap !important;
    overflow: hidden;
    padding: 0px !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
}
#crl8-homepage-carousel .kYohkm, #crl8-homepage-carousel-modal .kYohkm, #crl8-homepage-carousel-uploader .kYohkm {
    position: relative;
    z-index: 0;
    padding: 0px 40px;
}
#crl8-homepage-carousel .gXJRYM, #crl8-homepage-carousel-modal .gXJRYM, #crl8-homepage-carousel-uploader .gXJRYM {
    left: 0px;
}
#crl8-homepage-carousel .gXJRYM, #crl8-homepage-carousel-modal .gXJRYM, #crl8-homepage-carousel-uploader .gXJRYM {
    position: absolute;
    top: 0px;
    height: 276px;
    z-index: 1;
    width: auto;
}
#crl8-homepage-carousel .eAUNQs, #crl8-homepage-carousel-modal .eAUNQs, #crl8-homepage-carousel-uploader .eAUNQs {
    right: 0px;
}
#crl8-homepage-carousel .eAUNQs, #crl8-homepage-carousel-modal .eAUNQs, #crl8-homepage-carousel-uploader .eAUNQs {
    position: absolute;
    top: 0px;
    height: 276px;
    z-index: 1;
    width: auto;
}
#crl8-homepage-carousel .cQIUaE, #crl8-homepage-carousel-modal .cQIUaE, #crl8-homepage-carousel-uploader .cQIUaE {
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
}
#crl8-homepage-carousel .ichgIG, #crl8-homepage-carousel-modal .ichgIG, #crl8-homepage-carousel-uploader .ichgIG {
    width: 276px;
    height: 276px;
    flex: 0 0 auto;
    margin: 0px 2px;
}
#crl8-homepage-carousel .fuUAUh, #crl8-homepage-carousel-modal .fuUAUh, #crl8-homepage-carousel-uploader .fuUAUh {
    position: relative;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .KAAHWn, #crl8-homepage-carousel-modal .KAAHWn, #crl8-homepage-carousel-uploader .KAAHWn {
    position: relative;
    display: flex;
    transform: translate3d(-1120px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .kKBxKB, #crl8-homepage-carousel-modal .kKBxKB, #crl8-homepage-carousel-uploader .kKBxKB {
    position: relative;
    display: flex;
    transform: translate3d(-2240px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .YBILi, #crl8-homepage-carousel-modal .YBILi, #crl8-homepage-carousel-uploader .YBILi {
    position: relative;
    display: flex;
    transform: translate3d(-3360px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .jOVSrh, #crl8-homepage-carousel-modal .jOVSrh, #crl8-homepage-carousel-uploader .jOVSrh {
    position: relative;
    display: flex;
    transform: translate3d(-4480px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .hkiiOd, #crl8-homepage-carousel-modal .hkiiOd, #crl8-homepage-carousel-uploader .hkiiOd {
    position: relative;
    display: flex;
    transform: translate3d(-5600px, 0px, 0px);
    opacity: 1;
    flex-flow: row nowrap;
    transition: transform 600ms ease 0s;
}
#crl8-homepage-carousel .cyCKx, #crl8-homepage-carousel-modal .cyCKx, #crl8-homepage-carousel-uploader .cyCKx,#crl8-homepage-carousel .UwRNw, #crl8-homepage-carousel-modal .UwRNw, #crl8-homepage-carousel-uploader .UwRNw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
}
.mx-site .Gf, .mx-site .Ff {
    display: -webkit-box;
    display: flex;
}
.mx-site .Ff {
    background-color: #eef3f3;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}
.mx-site .Gf {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0;
}
.mx-site .Hf {
    fill: #09273c;
    max-height: 70px;
    max-width: 80px;
}
.mx-site .Pi {
    background-color: #f5f5f5;
    color: #0e2f47;
    width: 100%;
}
.mx-site .Ti {
    max-width: 24em;
    -webkit-box-ordinal-group: 2;
    order: 1;
}
.mx-site .Ui {
    list-style: none;
}
.mx-site .Lb {
    padding-bottom: 8px;
}
.mx-site .Pa {
    padding-top: 8px;
}
.mx-site .Si {
    font-weight: 700;
    white-space: nowrap;
}
.mx-site .Ge, .mx-site .Ee.He {
    color: #0e2f47;
}
.mx-site .Ge:hover, .mx-site .Ee.He:hover ,.bg{
    color: #3cadac;
}
.mx-site .Rc {
    height: 32px;
}
.mx-site .xc {
    width: 32px;
}
.mx-site .cb {
    margin-right: 8px;
}
.mx-site .Wi {
    -webkit-box-ordinal-group: 3;
    order: 2;
}
.mx-site .Xi {
    -webkit-columns: 2;
    -moz-columns: 2;
    column-count: 2;
    list-style: none;
}
.mx-site .Bb {
    margin-bottom: 16px;
}
.mx-site .Yi {
    -webkit-box-ordinal-group: 4;
    order: 3;
}
.mx-site .bj, .mx-site .cj {
    -webkit-box-flex: 1;
    flex: 1 0 0;
}
/* .mx-site .home{
    display: none;
}
#homedecor:hover .home{
    display: block;
} */
.mx-site .bj {
    text-align: left;
}
.mx-site .dj {
    text-align: center;
}
.mx-site .Nb {
    padding-bottom: 24px;
}
.mx-site .Ii {
    width: 100%;
}
.mx-site .Ei {
    background-color: #fff;
    border: 1px solid #d5dbde;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    padding: 8px 16px;
}
.mx-site .kg {
    width: 18em;
}
.mx-site .ej, .mx-site .fj {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.mx-site .Ab {
    margin-bottom: 8px;
}
.mx-site .gj {
    fill: #0e2f47;
    height: 18px;
    width: 18px;
}
.mx-site .Ba{
    display: none;
}
.nb{
    padding-right: 8px;
    font-size: 14px;
}
/* photobook */
.mx-site .RB {
    padding: 64px 0 32px;
    width: 100%;
}
.mx-site .YB {
    margin-top: 32px;
    position: relative;
}
.mx-site .TB, .mx-site .SB {
    display: -webkit-box;
    display: flex;
}
.mx-site .SB {
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1730px;
}
.mx-site .u {
    max-width: 1240px;
    padding-left: 80px;
    padding-right: 80px;
}
.mx-site .s {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mx-site .TB {
    -webkit-box-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30%;
}
.mx-site .WB {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    margin-left: 48px;
    width: 70%;
}
.mx-site .XB {
    max-height: 352px;
    max-width: 950px;
    width: 100%;
}
.mx-site .Pd {
    background-image: linear-gradient(90deg,#f1539a 0,#ff979a 51%,#f1539a);
    background-size: 200% auto;
    color: #fff;
    -webkit-transition: background-position .5s;
    transition: background-position .5s;
    will-change: background-position;
}
/* red bus */
.button {
    display: inline-block;
    padding: 6px 16px 7px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .1s;
    border: none;
    text-align: center;
    background-color: #d84e55;
    color: #fff;
    cursor: pointer;
}
.fixer{
    width: 100%;
}
.search-wrapper {
    padding: 15px 10px 15px 25px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 4px 0 hsla(0,0%,71%,.5);
}
.fl {
    float: left;
}
.search-wrapper .top-lbl {
    font-size: 12px;
    color: #7e7e8c;
}
.search-wrapper .textbox {
    width: 350px;
    margin: 0 0 .7em;
    margin-right: 16px;
}
.textbox {
    position: relative;
    margin: .8em 0;
}
.search-wrapper .textbox input {
    font-size: 17px;
    color: #3e3e52;
    font-weight: 700;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding-bottom: 5px;
    border-width: 0 0 1px;
}
.search-wrapper #switchButton {
    margin-top: 22px;
    margin-right: 20px;
    font-size: 19px;
    cursor: pointer;
    margin-left: 4px;
    transform: rotate(0deg);
    transition: transform .5s ease-in;
}
/* .search-wrapper .ms-btn {
    color: #fff;
    margin-top: 15px;
    border-radius: 2px;
    background-color: #d84f55;
    box-shadow: 0 2px 4px 0 hsla(0,0%,77%,.5);
    font-weight: 300;
    padding: 7px 18px 8px;
    cursor: pointer;
} */
/* .search-wrapper .ms-btn:hover{
    background-color: #E9555D;
} */
.clearfix{
    height: 80px;    
}
.row-sec:hover {
    box-shadow: 0 16px 30px 1px rgba(0,0,0,.1);
    transition: 1s;
}

.row-sec {
    margin-top: 20px;
    height: 137px;
    border: 1px solid #ddd;
    padding: 10px 0 0;
}
.bus-item-details {
    padding-left: 10px;
}
.w-30 {
    width: 30%;
}
.p-right-10 {
    padding-right: 10px;
}
.w-10 {
    width: 10%;
}
.p-right-10 {
    padding-right: 10px;
}
.w-15 {
    width: 15%;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-16 {
    margin-top: 16px;
}
.lh-24 {
    line-height: 24px;
}
.d-color {
    color: #3e3e52;
}
.f-bold {
    font-weight: 700;
}
.l-color {
    color: #7e7e8c;
}
.f-12 {
    font-size: 12px;
}
.f-19 {
    font-size: 19px;
}
.w-wrap {
    word-wrap: break-word;
}
.m-top-42 {
    margin-top: 42px;
}
.next-day-dp-lbl {
    font-size: 14px;
    line-height: 1.29;
    color: #4a4a4a;
}
.m-top-8 {
    margin-top: 8px;
}
.disp-Inline {
    display: inline-block;
}
.rat-green {
    background-color: #38b87c;
}
.rating {
    padding: 4px 3px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    height: 24px;
    font-size: 12px;
}
.lh-18 {
    line-height: 18px;
}
.no-ppl .icon {
    font-size: 14px;
    margin-right: 5px;
}
.d-block {
    display: inline-block;
}
.seat-bar {
    margin-top: 6px;
}
.green-bar, .light-g-bar {
    height: 4px;
    border-radius: 3px;
}
.light-g-bar {
    width: 72px;
    background-color: #eeeded;
}
.orange-bar, .red-bar {
    height: 4px;
    border-radius: 3px;
}
.orange-bar {
    background-color: #ebaf3c;
}
.w-55 {
    width: 55%;
}
.m-top-30 {
    margin-top: 30px;
}
.bus-items{
    margin-left: 5%;
    width: 90%;
    margin-bottom: 10px;
}
#bus{
    width: 100%;
}
.button:hover{
    background-color: #E9555D;
}
.fr {
    float: right;
}
.bottom-panel {
    opacity: 0;
    transition: 1s;
    margin-top: 5px;
}
.b-p-list:first-child {
    border: 0 none;
    cursor: pointer;
}
.b-p-list {
    border-left: 1px solid #dc4c4f;
    padding: 0 10px;
}
.b-p-list, .sprite-icon {
    display: inline-block;
}
.b-p-list:hover {
    color: #da4e52;
}
.row-sec:hover .bottom-panel {
    opacity: 1;
    cursor: pointer;
}
ul.autofill li:hover{
    background: #dcdcdc;
}
ul.autofill li{
    padding: 13px 26px 13px 16px;
    cursor: pointer;
    text-align: left;
    font-weight: 400;
}
.autofill{
    position: absolute;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #aaa;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 230px;
    font-size: 14px;
    color: #333;
    line-height: 1;
    width: 225px;
    margin-left: -1px;
}
@media (max-width: 1280px)
{
    .mx-site .R,.mx-site .ng{
        padding-left: 40px;
        padding-right: 40px;
    }
}